.back {
  position: absolute;
  top: 180px;
  margin-left: 60px;
  color: rgb(185, 184, 184);
}

.upper-half {
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 100vw;
  height: 120vh;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  position: absolute;
  margin: auto;
  top: 250px;
  width: 800px;
  padding: 30px;
  max-width: 95vw;
  height: 85vh;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

/* Hide the images by default */
.mySlides {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.slider-img {
  width: 100%;
  height: 80vh;
  border-radius: 20px;
  margin-bottom: 15px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  margin-left: -25px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px;
  left: 770px;
  width: 45vw;
  height: 90vh;
}
.profile-info {
  display: flex;
  flex-direction: row;
}
.profile-image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 270px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-artist {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
h4 {
  font-family: cursive;
  font-weight: 600;
}

.artist-discrption {
  display: flex;
  margin-top: 0;
}
p {
  font-weight: 600;
  font-family: cursive;
}

.about-artist-info {
  display: flex;
  flex-direction: column;
}

.art-discription {
  display: flex;
  flex-direction: column;
  padding: 70px 70px;
  margin-left: 70px;
  margin-top: 30px;
}
.art-heading {
  margin-bottom: 0;
}

.artist-contact {
  display: flex;
  flex-direction: column;
  margin-right: 180px;
}
.social-accounts {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
  justify-content: space-between;
}

/* lower-half */
.lower-half {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100vw;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.paintings-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  top: 70px;
  width: 90vw;
  padding: 30px;
  max-width: 90vw;
  justify-content: space-evenly;
}

.painting-aligment {
  padding: 20px;
  max-width: 45vw;
  width: 35vw;
  height: 60vh;
}
.paintings {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  .upper-half {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .slideshow-container {
    width: 90vw;
  }
  .art-discription {
    margin: 0;
  }
  .profile-container {
    position: relative;
    top: 750px;
    left: 50px;
    width: 80vw;
  }
  .lower-half {
    position: relative;
    top: 600px;
  }
}

@media only screen and (max-width: 450px) {
  .upper-half {
    position: absolute;
  }
  .slideshow-container {
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px;
    height: 68vh;
  }
  .slider-img {
    padding: 8px;
    height: 60vh;
  }
  .profile-container {
    position: relative;
    top: 450px;
    left: 15px;
    width: 80vw;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  .lower-half {
    position: absolute;
    top: 1350px;
    flex-direction: column;
  }
  .painting-aligment {
    max-width: 85vw;
    width: 80vw;
  }
  .paintings-container {
    flex-direction: column;
  }
  .art-discription {
    padding-top: 20px;
    padding-left: 20px;
  }
}
